@{
	ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>This is where the projects are</title>
</head>
<body>
	<div>
		<text> This is where the projects are</text>
	</div>
	<strong>Project1:</strong>   <a href="http://localhost:52725/Home/StockApp">Stock App</a><br />
	<strong>Project2:</strong>   <a href="http://localhost:52725/Home/Cartooniser">Cartooniser and Photocropper</a><br />
</body>
</html>
