body {
	margin: 0;
	background-color: lightblue;
}
section {
	width: 600px;
	height: 150px;
	float: left;
}
.Desc {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	
}
text {
	font-family: "Times New Roman", Times, serif;

}
.Container {
	padding:10px;
}

img {
	position: absolute;
	top: 125px;
	float: right;
}



