body {
}
.Desc {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;

}

.Desc1 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.Desc2 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Desc3 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Desc4 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Desc5 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Desc6 {
	background-color: #00ffff;
	border-style: solid;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}