body {
	
}
.container {
	
}

.Picture {

}

.Price {
	
}
.Quantity {
	
}
.inner1 {
	
}

th, td {
	border: 1px solid black;
	padding: 6px;
}
.BagData {

}
.dataRows {


}
th, td {
	
}

td {
	padding-top: 30px;
}
